/* ? Universal input stylization */
button, input, textarea{all:unset; box-sizing: border-box;}

/* ? Fonts */
    @font-face{font-family:"pixelfont";src: url("https://fonts.gstatic.com/s/vt323/v17/pxiKyp0ihIEF2isfFJU.woff2") format("woff2")}


/* ? Boring stuff for mobile */
    html {
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;    
        height:100%;
        width:100%;}
    html:focus{outline: none !important;}


/* ? PALETTE */
PALETTE {
color:#d8e2dc;
color:#ffe5d9;
color:#ffcad4;
color:#f4acb7;
color:#9d8189;
}

/* ? Sitewide styling */
    body{
        background-color: #ffcad4;
        height:100%;
        width:100%;
        font-family: pixelfont;
        font-display: block;}
    *{
        box-sizing: border-box;
        margin:0;
        padding:0;
        /* background-color:#bb838b33; */
        border:0px solid red
    }
    *::before,
    *::after {
      box-sizing: border-box;}
    #loading{
        width: 100%;
        height: 100%;
        display: flex;
        font-family: pixelfont;
        justify-content: center;
        align-items: center;
    }

/* ? Signin styling */  
#login-container{
    width: 100%;
    height: 100%;
}
    #login-back-button{
        position: fixed;
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        padding:2%;
    }
    #login-back-button>a{
        color:#3D3B30;
    }
.login-element-container{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-element{
    width:260px;
    height:60px;
    margin-bottom:20px; 
} j 
.login-element > input{
    width:100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.155);
    padding:16px;
}
.login-element > input.login-input-clicked:invalid, .login-element > input.login-input-clicked:invalid:required{
    border: 2px solid rgba(200, 0, 0, 0.301);
    padding:14px;
} 
.login-element >  button{
    width:100%;
    height: 100%;
    text-align: center;
    border: 1px solid black;
}
.login-element > button:active{background-color:rgba(0, 0, 0, 0.255);}
.login-element.signin-error{
    min-height: 60px;
    height: fit-content;
    border: 2px solid rgba(200, 0, 0, 0.8);
    color:rgba(163, 0, 0, 0.8);
    padding:16px;
    display: flex;
    align-items: center;
    font-size:1rem;
}


/* ? Content page styling */
    #content-container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        padding-right: 0px;
        background: radial-gradient(circle, #9d8189 0%, #d8e2dc 100%);
        background-size: 120% 115%;
        background-repeat: repeat-y;
    }

        #entries-content-container{
            width:100%;
            max-width: 600px;
            height:100%;
            max-height: 100%;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            row-gap: 10px;
            
        }
            .category-selector{

                flex:1;
                font-size: 1.75rem;
                
               
            }
                .category-row{
                    height: 100%;
                    
                    display:flex;
                    
                    align-items: flex-start;
                    overflow-x: scroll;
                    flex-wrap: nowrap;
                }
                    .category{


                        text-align: center;
                        margin-right: 10px;
                        padding-left:15px;
                        padding-right: 15px;
                        width: fit-content;
                        color:#534549;
                        display:flex;
                        justify-content: center;
                        align-items: center;
                        border:3px solid #9d8189;
                        height: 100%;
                        text-wrap: nowrap;
                    }
            #add-new-button{
                display: flex;
                flex:1;
                font-size: 1.7rem;
                align-items: center;
                padding-left:15px;
                margin-right:10px;
                color:#534549;
                border:3px solid #9d8189;
            }
            #entries{
                flex:12;
                padding-left:0px;
                padding-right:10px;
                overflow-x: scroll;
            }
                .entry-hide{
                    display:none;
                }
                
                #finished{
                    margin-top:50px;
                }
                .finished-entry{
                    
                    opacity: 50%;
                }
                .finished-entry > .entry-title{
                    
                }
                .finished-entry > .entry-subject{
                    
                }
                .finished-entry > .entry-desc{
                    
                }
                .entry{
                    padding-left:10px;
                    border-left: 3px solid #9d8189;
                    padding-bottom:10px;
                    margin-bottom:10px;
                }
                
                    .entry-title{
                        width:70%;
                        float:left;
                        font-size: 1.8rem;
                        color: #47353a;
                        height:30px;
                        display: flex;
                        align-items: center;
                        text-wrap: nowrap;
                        text-overflow: ellipsis;
                        overflow-x: hidden;
                    }
                    .entry-subject{
                        display: flex;
                        align-items: center;
                        width:30%;
                        float:left;
                        font-size: 1.7rem;
                        color: #47353a;;
                        text-align: right;
                        justify-content: flex-end;
                        height:fit-content;
                        padding-right:10px;
                    }
                    .entry-desc{
                        width:100%;
                        color: #47353a;;
                        font-size: 1.3rem;
                        margin-bottom: 10px;
                        display: flex;
                        flex-wrap: wrap;
                        
                    }
                        .entry-desc-text{
                            max-width: 100%;
                            text-wrap:wrap;
                            text-overflow: clip;
                            white-space: initial;
                            word-wrap: break-word;
                            margin-bottom:3px;
                            
                        }

                        .entry-delete{
                            
                            
                            border:3px solid #9d8189;
                            margin-left: auto;
                            width: fit-content;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding:2px;
                            padding-right: 4px;
                            padding-left: 4px;
                            margin-right: 10px;
                        }
                    
                    .bar{
                        color: #55414ac2;
                        text-align: center;
                        height:fit-content;
                        font-size: 1.6rem;
                        margin-right: 10px;
                    }

    
        #logout-button{
            flex:1;
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left:15px;
            color:#534549;
            border:3px solid #9d8189;
            font-size: 1.7rem;
        }

/* ? New entry screen */
    #new-entry-container{
        max-width: 600px;
        width: 100%;
        height:100%;
        max-height: 100%;
        display:flex;
        flex-direction: column;
        align-items: stretch;
        row-gap: 10px;
    }
        .category-selector{
            flex:0.03333;
        }
            .category-row{

            }
                .category{

                }
                #new-category-button{
                    display:flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    padding-left:0px;
                    
                    padding-right:0px;
                    margin-right:10px;
                }
                    #new-category-button > input {
                        min-width: 150px;
                        width:150px;
                        display:flex;
                        text-align: start;
                        padding-left:10px;
                        padding-right:0px;
                        margin-right:10px;
                    }
                .selected-category{
                    border:3px solid #776167;
                }
        #name-input-container{
            flex:0.05;
            margin-right:10px;
            border:3px solid #9d8189;
            font-size: 1.3rem;
            
            display: flex;
            align-items: center;
        }  
            #name-input{
                width: 100%;
                max-height: 1.4rem;
                padding-left:15px;
                color:#534549;
            }
        #desc-input-container{
            flex:0.1;
            margin-right:10px;
            padding-left:15px;
            border:3px solid #9d8189;
            font-size: 1.3rem;
        }
            #desc-input{
                padding-top:5px;
                width:100%;
                height: 100%;
            }

        #time-inputs-container{
            
            margin-right:10px;
            display: flex;
            flex-direction: row;
            column-gap: 10px;
            row-gap: 10px;
            flex-wrap: wrap;
            color:#534549;
        }
            #start-time-input-container{
                display: flex;
                justify-content: center;
                align-items: center;
                flex:1;
                flex-direction: column;
                
            }
                #start-time-title{
                    text-align: center;
                    font-size: 1.3rem;
                    padding:2px;
                }
                #start-time-input{
                    border:3px solid #9d8189;
                    color:#534549;
                    width: 100%;
                    padding:5px;
                }
            #end-time-input-container{
                display: flex;
                justify-content: center;
                align-items: center;
                flex:1;
                flex-direction: column;
                
            }
                #end-time-title{
                    text-align: center;
                    font-size: 1.3rem;
                    padding:2px;
                }
                #end-time-input{
                    border:3px solid #9d8189;
                    color:#534549;
                    width: 100%;
                    padding:5px;
                }
        #action-buttons{
            display: flex;
            flex-direction: row;
            column-gap: 10px;
            row-gap: 10px;
            margin-right:10px;
        }
            #cancel-button{
                flex:1;
                border:3px solid #9d8189;
                color:#534549;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.3rem;
                padding-top:10px;
                padding-bottom:10px;
            }
            #add-button{
                flex:1;
                border:3px solid #9d8189;
                color:#534549;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.3rem;
                padding-top:10px;
                padding-bottom:10px;
            }